*{
    padding: 0;
    margin: 0;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #2d2c50;  
}
.container a{
    text-decoration: none;
}
.container h1{
    font-family: 'Bungee inline';
    color: #2fc29b;
    font-size: 36px;
}
.container-gameboard{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 60%;
}
.gameboard{
    border-radius: 50%;
    overflow: hidden;
    width: 95%;
    height: calc(60vw * 95/100);
    position: relative;
    border: 5px solid white;
    box-sizing: border-box;
}
.color{
    cursor: pointer;
    display: flex;
    float: left;
    width: 50%;
    height: 50%;
}
.yellow{
    background-color: rgb(255, 255, 92);
}
.yellow.light{
    background-color: rgb(255, 255, 0);
}
.blue{
    background-color: rgb(92, 92, 255);
}
.blue.light{
    background-color: rgb(0, 0, 255);
}
.green{
    background-color: rgb(92, 128, 92);
}
.green.light{
    background-color: rgb(0, 255, 0);
}
.red{
    background-color: rgb(255, 92, 92);
}
.red.light{
    background-color: rgb(255, 0, 0);
}
.animations{
    transform: scale(1.01);
}

.hide{
    display: none;
}
.opacity{
    opacity: 1;
}

.button {
    cursor: pointer;
    width: 80%;
    background: #ecf0f1;
    color: #462c50;
    border: none;
    border-bottom: 4px solid #c4c6c7;
    border-radius: 8px;
    font-size: 5vw;
    position: absolute;
    outline: none;
    top: 40%;
    left: 0;
    right: 0;
    bottom: 40%;
    margin: auto;
  }

  .button:hover {
    color: #ecf0f1;
    background: #462c50;
    border-bottom: 4px solid #411f4e;
  }
  
  .button:active{
    transform: scale(0.95);
    transition-duration: 0.2s;
  }

  @media screen and (max-width: 720px){
    .container-gameboard{
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: calc(100vw * 80/100);
    }
    .gameboard{
        width: 100%;
        height: 100%;
    }
  }